{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Social Media materialize bundle-->
    <link rel="stylesheet" href={{ asset('css/materialize-social.css') }}>
    <!--Font Awesome -->
    <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- login stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="screen">
        <form class="passowrd-recovery" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal">Por favor, inicie sesión</h2>
            <label for="inputUsername">Nombre de usuario</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <br>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"/>
                    <span>Recuérdame</span>
                </label>
            </div>

            <br>
            <button class="btn btn-lg btn-primary" type="submit">
                Iniciar sesión
            </button>

            <br><br>

            <a class="waves-effect waves-dark btn float-right" href="{{ path('register') }}">Registrarme</a>
            <br><br>
            <a class="password-recovery" href="{{ path('password_recovery_request') }}">Have you forgotten your password?</a>
        </form>
    </div>

{% endblock %}
