{% extends 'base.html.twig' %}

{% block head %}

    {% block title %}<title>Editor de la kata</title>{% endblock %}
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ parent() }}
        <script type="text/javascript" src="{{ asset('js/kataEdit/title-description-editorPage.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/katas.css') }}">
    {% endblock %}

{% endblock %}
{% block body %}

<div class="screen">
    <!-- Title section -->
    <section class="title card">
        <div class="card-content">
            <h5><textarea id="title" name="kata-title" placeholder="Título de la kata" data-uuid={{ uuid }}>{{ kataTitle }}</textarea></h5>
        </div>
    </section>
    <!-- Description section -->
    <section class="description card">
        <div class="card-content">
            <span class="card-title">Descripción</span>
            <textarea id="description" name="kata-description" placeholder="Descripción de la kata" data-uuid={{ uuid }}>{{ kataDescription }}</textarea>
        </div>
    </section>
    <!-- Code editor section -->
    <section  class="code-editor card" >
        <div  class="card-content">
            <span class="card-title">Editor de Código</span>
            {% include 'kata_editor/editor_components/code-editor.html.twig' %}
        </div>
    </section>
    <!-- Kata test -->
    <section class="kata-test card">
        <div class="card-content">
            <span class="card-title">Test de la Kata</span>
            {% include 'kata_editor/editor_components/kata-test.html.twig' %}
        </div>
    </section>
    <!-- Sample test -->
    <section class="examples card">
        <div class="card-content">
            <span class="card-title">Ejemplos</span>
            {% include 'kata_editor/editor_components/examples.html.twig' %}
        </div>
    </section>
    <footer class="footer">

    </footer>
</div>

{% endblock %}

