<head>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
</head>
<div class="availableChapterList">
    <ul id="availableChapterList" class="collection availableChapter">
        {% for availableChapter in availableChapters%}
            <li class="ui-state-default availableChapterElement" data-title="{{ availableChapter['title'] }}" data-uuid="{{ availableChapter['uuid'] }}">
                <a class="link" href="{{ path('chapters_editor', {'chapterUuid': availableChapter['uuid'] }) }}">
                    {{ availableChapter['title'] }} <i class="material-icons">create</i>
                </a>
                <!-- Modal Trigger -->
                <a class="remove-link waves-effect waves-light modal-trigger" href="#{{ availableChapter['uuid'] }}">
                    <i data-uuid="{{ availableChapter['uuid']}}" class="remove-icon material-icons" >delete_forever</i>
                </a>

                <!-- Modal Structure -->
                <div data-uuid="{{ availableChapter['uuid'] }}" id="{{ availableChapter['uuid'] }}" class="modal modal-dialog-centered">
                    <div class="modal-content">
                        <h4>Borrar Juego</h4>
                        <p>Estás a punto de tirar por la borda este juego, grumete, ¿estás seguro?</p>
                    </div>
                    <div data-uuid="{{ availableChapter['uuid'] }}" class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
                        <a data-uuid="{{ availableChapter['uuid'] }}" href="{{ path('chapters_remove', {'chapterUuid': availableChapter['uuid'] }) }}"  class="waves-effect waves-green btn-flat">Sí</a>

                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

