{% extends 'base.html.twig' %}



{% block body %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Stage view</title>
        <script type="text/javascript" src="{{ asset('js/stage-title-update.js') }}"></script>
    </head>
    <body>
    <div class="screen">
        <!-- Title section -->
        <section class="title card">
            <div class="card-content">
                <span id="title" class="card-title">
                     <label for="stage-title"></label>
                    <textarea id="stage-title" name="stage-title" placeholder="Título del escenario" data-uuid="{{ stageUuid }}"></textarea>
                </span>
            </div>
        </section>
        <!-- Ambient Sound section -->
        <section class="ambient-sound card">
            <div class="card-content">
                <span class="card-title">Sonido ambiente</span>
                <label for="uploadSound" class="btn">Selecciona un archivo</label>
                <input id="uploadSound" type="file" name="uploadSound" style="visibility:hidden;">
                <p>Pulsar para subir archivo de sonido ambiente</p>
                <label for="uploadSoundButton" class="btn">Enviar</label>
                <input id="uploadSoundButton" style="visibility:hidden;" type="submit" data-uuid="{{ stageUuid }}">
            </div>
        </section>
        <!-- Dialog section -->
        <section class="dialog card">
            <div class="card-content">
                <span class="card-title">Diálogo</span>
                <label for="uploadDialog" class="btn">Selecciona un archivo</label>
                <input id="uploadDialog" type="file" name="uploadDialog" style="visibility:hidden;">
                <p>Pulsar para subir un diálogo</p>
                <label for="uploadDialogButton" class="btn">Enviar</label>
                <input id="uploadDialogButton" style="visibility:hidden;" type="submit" data-uuid="{{ stageUuid }}">
            </div>
        </section>
        <!-- Stage Background Image -->
        <section class="background-image card">
            <div class="card-content">
                <span class="card-title">Fondo de escenario</span>
                <label for="uploadBackgroundImage" class="btn">Selecciona un archivo</label>
                <input id="uploadBackgroundImage"  type="file" name="uploadBackgroundImage" style="visibility:hidden;">
                <p>Pulsar para subir un fondo de escenario</p>
                <label for="uploadBackgroundImageButton" class="btn">Enviar</label>
                <input id="uploadBackgroundImageButton" style="visibility:hidden;" type="submit" data-uuid="{{ stageUuid }}">
            </div>
        </section>
        <footer class="footer">
            <p>Este es un pie increible.</p>
        </footer>
    </div>
    </body>
{% endblock %}