{% extends 'base.html.twig' %}
{% block title %}Página de registro{% endblock %}
{% block body %}
<div class="screen">
    {{ form_start(form) }}
    <div class="main_body registration_form" style="padding:150px;">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        <br><br>
        {{ form_row(form.submit) }}
        <br>
        <p><a class="login-link" href="{{ path('app_login') }}">Inicia sesión</a> si ya tienes una cuenta</p>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
