{% extends 'base.html.twig' %}



{% block body %}

    <!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson view</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ asset('js/lessonEdit/lesson-title-editorPage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lessonEdit/add-kata-toLesson.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lessonEdit/remove-kata-fromLesson.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/lessonEdit/update-availble-katas-and-lesson-katas-by-drag-and-drop.js') }}"></script>


</head>
<body>
<div class="screen">
    <!-- Title section -->
    <section class="title card">
        <div class="card-content">
            <textarea id="title" name="lesson-title" placeholder="Título de la lección" data-uuid={{ lesson_uuid }}></textarea>
        </div>
    </section>
    <!-- List of Katas section -->
    <section class="available-katas card">
        <div class="card-content">
            <span class="card-title">Katas</span>
            <p>Listado de katas disponibles para incluir en la lección</p>
            {% include 'lessons_editor/editor_components/availableKatas.html.twig' %}
        </div>
    </section>
    <!-- Ordered List of Lesson Katas section -->
    <section class="lesson-katas card">
        <div class="card-content">
            <span class="card-title">Katas de la lección</span>
            <p>Puedes arrastrar las katas para cambiar el orden o eliminar una kata</p>
            {% include 'lessons_editor/editor_components/lessonKatas.html.twig' %}
        </div>
    </section>
</body>
{% endblock %}