<div class="ChapterLessonsAndStagesCollectionList">
    <ul id="ChapterLessonsAndStagesCollectionList" class="connectedSortable ChapterLessonsAndStages">
        {% for chapterElement in chapterElementsArray %}
            <li class="ui-state-highlight ChapterLessonAndStageElement" data-id="{{ chapterElement['position'] }}" data-title="{{ chapterElement['title'] }}" data-uuid="{{ chapterElement['uuid'] }}">
                {{ chapterElement['title'] }}
                <a href="#"><i class="{{ elementClass }}" data-title="{{ chapterElement['title'] }}" data-uuid="{{ chapterElement['uuid'] }}">clear</i></a>
            </li>
        {% endfor %}
    </ul>
</div>

