{% extends 'base.html.twig' %}

{% block title %}Página de perfil{% endblock %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>


</head>

<body>

<div class="screen">
    <!-- Information section -->
    <section class="information card">
        <h4 class="information-title">Datos de la cuenta</h4>
        <div class="card-content">
            <img id="profile_picture_thumbnail" src="/resources/users/{{ app.user.username }}/{{ app.user.profilePic }}" alt="">
            <div class="info">
                <br>
                <h5 id="username" class={{ app.user.username }}>Nombre de usuario: {{ app.user.username }}</h5>
                <h5>Correo electrónico: {{ app.user.email }}</h5>
            </div>
        </div>
    </section>

    <!-- Password section -->
    <section class="password card">
        <h4 class="left-align">Modificar password</h4>
        <form action="{{ path('profile') }}" method="post">
            <label for="current_password">Contraseña actual</label>
            <input type="password" name="current_password" id="current_password" class="form-control" required autofocus><br>
            <label for="new_password">Nueva contraseña</label>
            <input type="password" name="new_password" id="new_password" class="form-control" required><br>
            <label for="repeat_password">Repetir contraseña</label>
            <input type="password" name="repeat_password" id="repeat_password" class="form-control" required ><br><br>
            <button class="btn btn-lg btn-primary" id="update_password" type="submit">
            Establecer nueva contraseña
        </button>
        </form>
    </section>
    <!-- Profile picture section -->
    <section class="profile-pic card">
        <h4 class="left-align">Imagen de perfil</h4>
        {{ form_start(profilePictureForm) }}
        {{ form_row(profilePictureForm.profilePic) }}
        <br>
        {{ form_row(profilePictureForm.submit) }}
        {{ form_end(profilePictureForm) }}
    </section>
    <a href="{{ path('app_login') }}" class="right-align waves-light btn"><i class="material-icons left">arrow_back</i>Volver a juego</a>
    <!--
    ##Social section##
    <section class="social card">
        <div class="card-content">
            <a
                    id="github-link"
                    class="waves-effect waves-light btn-large social github"
                    href="https://github.com/login/oauth/authorize?redirect_uri=https://localhost:8000/profile"
                    SameSite=None
                    Secure
            >
                <i class="fa fa-github"></i> Sign in with github</a>
            <br><br><br>
            <a id="twitter-link" class="waves-effect waves-light btn-large social twitter">
                <i class="fa fa-twitter"></i>Sign in with twitter</a>
        </div>
    </section>
-->
</div>
{% endblock %}
