{% extends 'base.html.twig' %}


{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <script type="text/javascript" src="{{ asset('js/profile/update-password.js') }}"></script>

</head>

<body>

<div class="screen">
    <!-- Information section -->
    <section class="information card">
        <div class="card-content">
            <img src="/resources/users/{{ app.user.username }}/{{ app.user.profilePic }}" alt="">
            <div class="info">
                <h5 id="username" class={{ app.user.username }}>Username: {{ app.user.username }}</h5>
                <h5>Email: {{ app.user.email }}</h5>
            </div>

        </div>
    </section>

    <!-- Password section -->
    <section class="password card">

    <form action="{{ path('profile_page', {'username': app.user.username}) }}" method="post">
        <label for="current_password">Contrase単a actual</label>
        <input type="password" name="current_password" id="current_password" class="form-control" required autofocus><br>
        <label for="new_password">Nueva contrase単a</label>
        <input type="password" name="new_password" id="new_password" class="form-control" required><br>
        <label for="repeat_password">Repetir contrase単a</label>
        <input type="password" name="repeat_password" id="repeat_password" class="form-control" required ><br>
        <button class="btn btn-lg btn-primary" id="update_password" type="submit">
            Establecer nueva contrase単a
        </button>
    </form>
    </section>

    <!-- Social section -->
    <section class="social card">
        <div class="card-content">
            <a
                    id="github-link"
                    class="waves-effect waves-light btn-large social github"
                    href="https://github.com/login/oauth/authorize?redirect_uri=https://localhost:8000/profile_page/{{ app.user.username }}"
                    SameSite=None
                    Secure
            >
                <i class="fa fa-github"></i> Sign in with github</a>
            <br><br><br>
            <a id="twitter-link" class="waves-effect waves-light btn-large social twitter">
                <i class="fa fa-twitter"></i>Sign in with twitter</a>
        </div>
    </section>

</div>
{% endblock %}
