
    <ul class="chapter_lessons_stages_collection">
        {% for chapterElement in chapterElementsArray %}
            {% if  chapterElement['elementType'] == 2 %}
                <li>
                    <a href="{{ path('stages', {'stageUuid': ( chapterElement['uuid'] ) }) }}" class="chapterStage" data-title="{{ chapterElement['title'] }}" data-uuid="{{ chapterElement['uuid'] }}">{{ chapterElement['title'] }}
                    </a>
                </li>
            {% elseif chapterElement['elementType'] == 1 %}
                <li>
                    <a href="{{ path('lessons', {'uuid': ( chapterElement['uuid'] ) }) }}" class="chapterLesson"  data-title="{{ chapterElement['title'] }}" data-uuid="{{ chapterElement['uuid'] }}">{{ chapterElement['title'] }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

